$color-primary: lightblue;
$color-secondary: lightgreen;
$color-primary: lightblue;
$color-secondary: lightgreen;
$color-primary-hover: darken(lightblue, 20%);

:root {
    --button-color: $color-primary;
    --button-color-hover: darken($color-primary, 20%);
}