@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-image: url(../img/Background1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-size: 15px;
}

.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  height: 10%;
  display: inline-block;
  padding-top: 8px;
  font-weight: 300;
  font-size: 20px;
}

a {
  color: white;
  list-style: none;
}

.Colonne {
  display: inline-block;
  padding-top: 8px;
  font-weight: 300;
  font-size: 20px;
  font-family: "Montserrat";
  display: flex;
  color: white;
  gap: 30px;
  padding-right: 20px;
  justify-content: flex-end;
}

h1 {
  font-family: "Montserrat";
  color: white;
  font-size: 40px;
  position: absolute;
  left: 47%;
  top: 50%;
  margin-left: -150px;
  margin-top: -90px;
}

h3 {
  font-family: "Montserrat";
  color: white;
  position: absolute;
  left: 47%;
  top: 50%;
  margin-left: -165px;
  margin-top: -20px;
}

.button {
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  font-family: "Montserrat";
  overflow: hidden;
  position: absolute;
  left: 43%;
  top: 53%;
  margin-left: -165px;
  margin-top: -20px;
  color: #eeeeee;
  font-weight: 600;
  font-size: 15px;
  background-color: violet;
  padding: 15px 50px;
  margin: 0 auto;
}
.button span {
  position: relative;
  z-index: 1;
}
.button:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 470%;
  width: 140%;
  background: orange;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-100%) translateY(-25%) rotate(45deg);
  transform: translateX(-100%) translateY(-25%) rotate(45deg);
}
.button:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.navbar {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: #363535;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: white;
  transform: translateY(-100%);
  /*Cache le menu par défaut*/
  transition: transform 0.7s ease;
  z-index: 40000;
}
.navbar ul {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.navbar ul a {
  color: white;
  padding-bottom: 6px;
  border-bottom: 1px solid white;
  text-decoration: none;
  font-family: "Montserrat";
  font-size: 1.2rem;
}

section {
  height: 1200px;
}

.grille {
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 4fr;
  grid-template-rows: 1fr 4fr 4fr 1fr;
}

.item {
  height: 100%;
}

.item1 {
  background-image: url(../img/Lorenzo.jpg);
  background-size: cover;
  margin: 40px;
  width: 75%;
  height: 70%;
  grid-row: 2/3;
  grid-column: 1/3;
}

.item2 {
  background-image: url(../img/Lorenzo.jpg);
  grid-row: 3/4;
  grid-column: 2/3;
}

.item3 {
  background-image: url(../img/Lorenzo.jpg);
  grid-row: 3/4;
  grid-column: 1/2;
}

.item5 {
  grid-row: 3/2;
  grid-column: 3/4;
}

.item6 {
  grid-row: 3/2;
  grid-column: 4/5;
  color: white;
  margin: auto;
  padding: auto;
  width: 75%;
  font-family: "Montserrat";
  height: 70%;
}

.item7 {
  grid-row: 3/2;
  grid-column: 3/4;
}

.item8 {
  background-image: url(../img/Lorenzo.jpg);
  background-size: cover;
  grid-row: 3/4;
  grid-column: 4/5;
  margin: auto;
  padding: auto;
  width: 75%;
  height: 70%;
}

@media screen and (max-width: 800px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    margin: 0px;
    padding-top: 4px;
    height: 60px;
    width: 1500px;
    position: fixed;
    z-index: 5000;
  }

  .Colonne {
    display: none;
  }

  .ham {
    display: block;
    position: absolute;
    z-index: 5000;
    /* Me permet de superposer le boutton  */
    top: 10px;
    right: 5px;
    width: 36px;
    height: 36px;
    border: none;
    cursor: pointer;
    background-color: white;
    background-image: url(../img/ham.svg);
    background-size: 100%;
    position: fixed;
  }

  .showClose {
    background-image: url(../img/Croix.png);
    background-color: white;
    background-size: 100%;
    z-index: 50000;
  }

  .showNav {
    transform: translateY(0);
  }

  .navbar {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #363535;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: white;
    transition: transform 0.7s ease;
    z-index: 4000;
  }
  .navbar ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .navbar ul a {
    color: white;
    padding-bottom: 6px;
    border-bottom: 1px solid white;
    text-decoration: none;
    font-size: 1.2rem;
  }
}

/*# sourceMappingURL=style.css.map */
