@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    }

body{
    background-image: url(../img/Background1.jpg);
 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-size: 15px;

}


.header{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    height: 10%;
    display: inline-block;
    padding-top: 8px;
    font-weight: 300;
    font-size: 20px;
 
}   

a{
    color: white;
    list-style: none;
    
}

.Colonne{
    display: inline-block;
    padding-top: 8px;
    font-weight: 300;
    font-size: 20px;
    font-family: 'Montserrat';
    display: flex;
    color: white;
    gap: 30px;
    padding-right: 20px;
    justify-content: flex-end;
}

h1{
    font-family: 'Montserrat';
    color: white;
    font-size: 40px;
    display: flex;
    margin-top:300px;
    flex-direction: column;
    align-items: center;

}


h3{
    font-family: 'Montserrat';
    color: white;
    flex-direction: column;
    align-items: center;
    margin-top:20px;
    display: flex;
}

.who{
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.button {
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    font-family: 'Montserrat';
    overflow: hidden;
    position:absolute;
    color: #eeeeee;
    font-weight: 600;
    transform-origin: center;
    font-size: 15px;
    background-color: violet;
    align-items: center;
    padding: 15px 50px;
    
  
 
    

    & span {
    position: relative; 
    z-index: 1;
    }

    &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 470%;
    width: 140%;
    background: orange;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-100%) translateY(-25%) rotate(45deg);
    transform: translateX(-100%) translateY(-25%) rotate(45deg);
    }

    &:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
    }
}



section {
    height: 100vh;
    display: grid;
    place-items: center;
}

.card {
    width: 450px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    height: 70%;
    background-image: url(../img/card.jpg);
    background-size: cover;
    box-shadow: 0 8px 16px rgba(82, 82, 82, 0.2);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}



p{
    color: white; 
    font-family: 'Montserrat';
    top: 100%;
}

.card > header {
    min-height: 60px;
}

.card > div:nth-of-type(1) {
    height: 250px;
}

img {
    width: 100%;
    object-fit: cover;
}

.card > div:nth-of-type(1) > img {
    height: 100%;
}

.card > div:not(:nth-of-type(1)) {
    padding: 32px 16px;
}



html {
    font-size: 40px;
    font-family: "Montserrat";
    scroll-behavior: smooth;
}


  
  .scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid black;
    position: absolute;
    left: 50%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
  }
  .scroll-down::before,
  .scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid black;
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
  }
  
  .scroll-down::before {
    top: 30%;
    animation-delay: 0.3s;

  }
  
  @keyframes scroll-down {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      top: 90%;
      opacity: 0;
    }
  }
  





.navbar {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(54, 53, 53);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: white;
    transform: translateY(-100%); /*Cache le menu par défaut*/
    transition: transform 0.7s ease;
    z-index: 40000;
   
    
    & ul {
        width: 100%;
        height: 100%;
        list-style: none;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
    }  

        & ul a {
        color: white;
        padding-bottom: 6px;
        border-bottom: 1px solid white;
        text-decoration: none;
        font-family: 'Montserrat';
        font-size: 1.2rem;
        }
    }

    

.grille {
    width: 90%;
    height: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 5fr 5fr ;
    grid-template-rows: 5fr 5fr ;
}

.item{
    height: 100%;
}

.item1{
    background-image: url(../img/Code.jpg);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-size: cover;
    margin: 40px;
    margin-top: 200px;
   
    width: 60%;
    margin-left: 200px;
    height: 70%;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}


.item2{
    grid-row: 1/1;
    grid-column: 2/3;
    color: white;
    width: 75%;
    font-family: "Montserrat";
    margin: 40px;
    margin-top: 300px;
    width: 75%;
    height: 70%;

}

.item3{
    grid-row: 2/2;
    grid-column: 1/2;
    color: white;
    width: 75%;
    font-family: "Montserrat";
    margin: 40px;
    margin-left: 200px;
    margin-top: 300px;
    height: 70%;

}

.item4{
    background-image: url(../img/Passion.gif);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-size: cover;
    margin: 70px;
    margin-top: 140px;
    margin-left: 80px;
    width: 60%;
    height: 70%;
    grid-row: 2/2;
    grid-column: 2/3;
   

}


.grille_skills{
    width: 90%;
    height: 1920px;
    margin: 0 auto;
 
    display: grid;
    grid-template-columns: 5fr 5fr  ;
    grid-template-rows:  1.25fr 1.25fr 1.25fr 1.25fr 1.25fr 1.25fr 1.25fr 1.25fr ;
}


.item5{

    background-image: url(../img/Html.png);
    background-size: cover;
    width: 150px;
    height: 150px;
    grid-row: 2/ 3;
    grid-column: 1 / 2;
    position: relative;
    justify-self: center;

}

.item6{

    grid-row:2/ -8;
    grid-column: 2 / 3;
}


.item7{

    background-image: url(../img/CSS.png);
    background-size: cover;
    position: relative;
    justify-self: center;
    width: 110px;
    height: 160px;
    grid-row:3/ 4;
    grid-column: 1 / 2;
}


.item8{


    position: relative;
    justify-self: center;
    grid-row: 3 / -7;
    grid-column: 2 / 3;
}


.item9{

    background-image: url(../img/JS.png);
    background-size: cover;
    
    position: relative;
    justify-self: center;
    width: 150px;
    height: 150px;
    grid-row:4 / 5;
    grid-column: 1 / 2;
}


.item10{

    background-color: rgb(255, 0, 76);
 
    grid-row: 4 / -6;
    grid-column: 2 / 3;
}


.item11{

    background-image: url(../img/Python.jpg);
    background-size: cover;
    position: relative;
    justify-self: center;
    width: 200px;
    height: 150px;
    grid-row: 5 / 6;
    grid-column: 1 / 2;
}


.item12{

    background-color: rgba(94, 131, 69, 0.493);

    grid-row: 5 / -5;
    grid-column: 2 / 3;
}


.item13{

    background-image: url(../img/PHP.png);
    background-size: cover;
    position: relative;
    justify-self: center;
    width: 300px;
    height: 160px;
    grid-row: 6 / 7;
    grid-column: 1 / 2;
}


.item14{

    background-color: rgba(17, 185, 207, 0.712);
    grid-row: 6 / -4;
    grid-column: 2 / 3;
}


.item15{

    background-image: url(../img/MySql.png);
    background-size: cover;
    position: relative;
    justify-self: center;
    width: 300px;
    height: 160px;
    grid-row:7/ 8;
    grid-column: 1 / 2;
}

.item16{

    background-color: rgba(163, 163, 163, 0.712);
    grid-row:7 / -3;
    grid-column: 2 / 3;
}

.item17{

    background-image: url(../img/Git.jpg);
    background-size: cover;
    position: relative;
    justify-self: center;
    width: 300px;
    height: 160px;
    grid-row:8 / 9;
    grid-column: 1 / 2;
}

.item18{
    
    background-color: rgba(134, 84, 84, 0.712);
    grid-row:7/ 8;
    grid-column: 1 / 2;
}





@media screen and (max-width :800px) {
 
.card {
   width: 90%;
}

p{
    font-size: 12px;
}

section{
    height: 100vh;
    
}


.item1{
   
    background-size: cover;
    width: 200px;
    height: 200px;
    margin-top: 700px;
    margin-left: 100px;
   
}


.item2{
    grid-row: 1/1;
    grid-column: 2/3;
    color: white;
    width: 75%;
    font-family: "Montserrat";
    margin: 40px;
    margin-top: 300px;
    width: 75%;
    height: 70%;

}

.item3{
    grid-row: 2/2;
    grid-column: 1/2;
    color: white;
    width: 75%;
    font-family: "Montserrat";
    margin: 40px;
    margin-left: 200px;
    margin-top: 300px;
    height: 70%;

}

.item4{
    background-image: url(../img/Passion.gif);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-size: cover;
    margin: 70px;
    margin-top: 140px;
    margin-left: 80px;
    width: 60%;
    height: 70%;
    grid-row: 2/2;
    grid-column: 2/3;
   

}


.grille_skills{
    width: 90%;
    height: 1920px;
    margin: 0 auto;
    background-color: lightseagreen;
    display: grid;
    grid-template-columns: 5fr 5fr  ;
    grid-template-rows:  1.25fr 1.25fr 1.25fr 1.25fr 1.25fr 1.25fr 1.25fr 1.25fr ;
}



.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none; 
    text-align: center;   
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    padding-top: 4px;
    height: 60px;
    width: 1500px;
    position: fixed;
    z-index: 5000;
}

.Colonne{
    display: none;
}

.ham {
    display: block;
    position: absolute;
    z-index: 5000; /* Me permet de superposer le boutton  */
    top: 10px;
    right: 5px;
    width: 36px;
    height: 36px;
    border: none;
    cursor: pointer;
    background-color: white;
    background-image: url(../img/ham.svg);
    background-size: 100%;
    position: fixed;
      
}
    
.showClose {
    background-image: url(../img/Croix.png);
    background-color: white;
    background-size: 100%;
    z-index: 50000;
       
}
      
.showNav {
    transform: translateY(0);    
}
    
.navbar {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(54, 53, 53);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: white;
    transition: transform 0.7s ease;
    z-index: 4000;

    
    & ul { 
    
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        flex-direction: column;
        align-content: flex-end;
    
       
    } 
      
        & ul a {
        color: white;
    
        border-bottom: 1px solid white;
        text-decoration: none;
        font-size: 18px;
        }

        
    }


    
}

