@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: #171717;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-size: 15px;
}

.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: white;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}

.section-title span {
  color: #f5b223;
}


.section-title-contact {
  font-size: 4rem;
  margin-top: 150px;
  font-weight: 300;
  color: white;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}

.section-title-contact span {
  color: #f5b223;
}


.section-title-project {
  font-size: 4rem;
  font-weight: 300;
  color: white;
  margin-top: 150px;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}

.section-title-project span {
  color: #f5b223;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}


.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


/* Header */
#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}

#header .header {
  min-height: 8vh;
  background-color: rgba(31, 30, 30, 0.24);
  transition: 0.3s ease background-color;
}

#header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}

#header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: #1f1e1e;
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s ease left;
}

#header .nav-list ul.active {
  left: 0%;
}

#header .nav-list ul a {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}

#header .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.021);
  font-size: 13rem;
  letter-spacing: 50px;
  z-index: -1;
  transition: 0.3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}

#header .nav-list ul li:hover a {
  color: #f5b223;
}

#header .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(0.8);
  margin-right: 20px;
}

#header .hamburger:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
  animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: white;
  z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  transition: 0.3s ease;
  transition-property: top, bottom;
}

#header .hamburger .bar::after {
  top: 8px;
}

#header .hamburger .bar::before {
  bottom: 8px;
}

#header .hamburger.active .bar::before {
  bottom: 0;
}

#header .hamburger.active .bar::after {
  top: 0;
}

@keyframes hamburger_puls {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}



.Lorenzo {
  margin-top: -300px;
  width: 100%;
}
.Lorenzo h1 {
  color: white;
  font-size: 100px;
  display: flex;
  text-align: center;
  margin-top: 300px;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 800px) {
  .Lorenzo h1 {
    font-size: 50px;
  }
}
.Lorenzo h3 {
  color: white;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-size: 50px;
  display: flex;
}
@media (max-width: 800px) {
  .Lorenzo h3 {
    font-size: 25px;
  }
}

.who {
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

.button {
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: absolute;
  color: #eeeeee;
  font-weight: 600;
  transform-origin: center;
  font-size: 15px;
  background-color: #f5b223;
  align-items: center;
  padding: 15px 50px;
}
.button:hover {
  background: #f5b223;
  box-shadow: 0 0 5px #f5b223, 0 0 25px #f5b223, 0 0 50px #f5b223, 0 0 200px #f5b223;
}

p {
  color: white;
  top: 100%;
  font-size: 18px;
  text-align: center;
}
@media (max-width: 800px) {
  p {
    font-size: 16px;
  }
}


/* Header Fin*/



/* About */
#about .about {
  flex-direction: column-reverse;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}

#about .col-left {
  width: 250px;
  height: 360px;
}

#about .col-right {
  width: 100%;
}

#about .col-right h2 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
}

#about .col-right p {
  margin-bottom: 20px;
}

#about .col-right .cta {
  color: black;
  margin-bottom: 50px;
  padding: 10px 20px;
  font-size: 2rem;
}

#about .col-left .about-img {
  height: 100%;
  width: 100%;
  position: relative;
  border: 10px solid white;
}

#about .col-left .about-img::after {
  content: "";
  position: absolute;
  left: -33px;
  top: 19px;
  height: 98%;
  width: 98%;
  border: 7px solid #f5b223;
  z-index: -1;
}

/* About Fin */



/* Cursor */

.cursor {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim 0.5s infinite alternate;
  pointer-events: none;
}

.cursor::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border: 8px solid gray;
  border-radius: 50%;
  opacity: 0.5;
  top: -8px;
  left: -8px;
  animation: cursorAnim2 0.5s infinite alternate;
}

@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}
@keyframes cursorAnim2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.4);
  }
}
@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.expand {
  animation: cursorAnim3 .5s forwards;
  border: 1px solid #f5b223;
}

/* Cursor Fin */


/* Contact */

.contact-info {
  display: flex;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.card {
  background: #2f3542;
  padding: 0 20px;
  margin: 0 10px;
  width: calc(33% - 20px);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

.card-icon {
  font-size: 28px;
  background: #f5b223;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px !important;
  border-radius: 50%;
  transition: 0.3s linear;
}

.card:hover .card-icon {
  background: none;
  color: #f5b223;
  transform: scale(1.6);
}

.card p {
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  max-height: 0;
  font-size: 14px;
  opacity: 0;
  transition: 0.3s linear;
}

@media screen and (max-width: 800px) {
.card p {
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 12px;
  max-height: 0;
  opacity: 0;
  transition: 0.3s linear;
}
}

.card:hover p {
  max-height: 40px;
  opacity: 1;
}

@media screen and (max-width: 800px) {
  .contact-info {
    flex-direction: column;
  }

  .card {
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
  }
}

/* Contact Fin */




/* Skills */
.grille_skills {
  width: 90%;
  height: 1920px;
  margin: 0 auto;
  font-size: 20px;
  display: grid;
  grid-template-columns: 5fr 5fr;
  grid-template-rows: 5fr 5fr 5fr 5fr 5fr 5fr 5fr 5fr ;
}
@media (max-width: 800px) {
  .grille_skills {
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 5fr 5fr 5fr 5fr 5fr 5fr 5fr 5fr 5fr 5fr 5fr 5fr 5fr 5fr 5fr ;
    height: auto;
  }
}

.item5 {
  background-image: url(../img/Html.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  grid-row: 2/3;
  grid-column: 1/2;
}
@media (max-width: 800px) {
  .item5 {
    height: 150%;
    grid-row: 2/3;
    grid-column: 1;
  }
}

.item6 {
  grid-row: 2/-8;
  color: white;
  display: flex;
  align-items: center;
  margin-top: 50px;
  grid-column: 2/3;
}
@media (max-width: 800px) {
  .item6 {
    grid-row: 3/4;
    grid-column: 1;
    font-size: 2px;
  }
}

.item7 {
  background-image: url(../img/CSS.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  grid-row: 3/4;
  grid-column: 1/2;
}
@media (max-width: 800px) {
  .item7 {
    height: 150%;
    grid-row: 4/5;
    grid-column: 1;
  }
}

.item8 {
  position: relative;
  justify-self: center;
  color: white;
  grid-row: 3/-7;
  display: flex;
  align-items: center;
  margin-top: 50px;
  grid-column: 2/3;
}
@media (max-width: 800px) {
  .item8 {
    grid-row: 5/6;
    grid-column: 1;
    font-size: 2px;
  }
}

.item9 {
  background-image: url(../img/JS.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  grid-row: 4/5;
  grid-column: 1/2;
}
@media (max-width: 800px) {
  .item9 {
    height: 150%;
    grid-row: 6/7;
    grid-column: 1;
  }
}

.item10 {
  color: white;
  position: relative;
  justify-self: center;
  margin-top: 50px;
  align-items: center;
  display: flex;
  align-items: center;
  grid-row: 4/-6;
  grid-column: 2/3;
}
@media (max-width: 800px) {
  .item10 {
    grid-row: 7/8;
    grid-column: 1;
    font-size: 2px;
  }
}

.item11 {
  background-image: url(../img/Python.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  grid-row: 5/6;
  grid-column: 1/2;
}
@media (max-width: 800px) {
  .item11 {
    height: 150%;
    grid-row: 8/9;
    grid-column: 1;
  }
}

.item12 {
  color: white;
  margin-top: 50px;
  display: flex;
  align-items: center;
  grid-row: 5/-5;
  grid-column: 2/3;
}
@media (max-width: 800px) {
  .item12 {
    grid-row: 9/10;
    grid-column: 1;
    font-size: 2px;
  }
}

.item13 {
  background-image: url(../img/PHP.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  grid-row: 6/7;
  grid-column: 1/2;
}
@media (max-width: 800px) {
  .item13 {
    height: 150%;
    grid-row: 10/11;
    grid-column: 1;
  }
}

.item14 {
  color: white;
  margin-top: 50px;
  display: flex;
  align-items: center;
  grid-row: 6/-4;
  grid-column: 2/3;
}
@media (max-width: 800px) {
  .item14 {
    grid-row: 11/12;
    grid-column: 1;
    font-size: 2px;
  }
}

.item15 {
  background-image: url(../img/MySql.png);
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  grid-row: 7/8;
  grid-column: 1/2;
}
@media (max-width: 800px) {
  .item15 {
    height: 150%;
    grid-row: 12/13;
    grid-column: 1;
  }
}

.item16 {
  color: white;
  margin-top: 50px;
  grid-row: 7/-3;
  grid-column: 2/3;
  display: flex;
  align-items: center;
}
@media (max-width: 800px) {
  .item16 {
    grid-row: 13/14;
    grid-column: 1;
    font-size: 2px;
  }
}

.item17 {
  background-image: url(../img/adobe.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  grid-row: 8/9;
  grid-column: 1/2;
}
@media (max-width: 800px) {
  .item17 {
    height: 150%;
    grid-row: 14/15;
    grid-column: 1;
  }
}

.item18 {
  color: white;
  margin-top: 50px;
  grid-row: 8/-2;
  display: flex;
  align-items: center;
  grid-column: 2/3;
}
@media (max-width: 800px) {
  .item18 {
    grid-row: 15/16;
    grid-column: 1;
    font-size: 2px;
  }
}

.skills-flex{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

::selection{
  color: #fff;
  
  background: #f5b223;
}
.skill-bars{
  padding: 25px 30px;
  width: 600px;
  background: #fff;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  border-radius: 10px;
}
.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #f5b223;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.html span{
  width: 75%;
}
.bar .progress-line.css span{
  width: 75%;
}
.bar .progress-line.js span{
  width: 60%;
}
.bar .progress-line.python span{
  width: 60%;
}
.bar .progress-line.mysql span{
  width: 50%;
}
.bar .progress-line.adobe span{
  width: 65%;
}

.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.progress-line.html span::after{
  content: "75%";
}
.progress-line.css span::after{
  content: "75%";
}
.progress-line.js span::after{
  content: "60%";
}
.progress-line.python span::after{
  content: "60%";
}
.progress-line.mysql span::after{
  content: "50%";
}
.progress-line.adobe span::after{
  content: "65%";
}

/* Skills Fin */


/* Projects */

.project_item {
  font-size: 28px;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px !important;
  border-radius: 50%;
  transition: 0.3s linear;
}

.card img{
  width: 30%;
  margin-top: -50px;
  height: 50%;
}

/* Projects Fin */

/* Footer */

.social img{
  width: 60px;
}

.social{
  display: flex;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer p {
  padding: 40px 20px;
}
footer .social a {
  display: inline-block;
  margin: 0 30px 20px 0;
}

/* Footer Fin */


/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
  /* header */
  #header .hamburger {
    display: none;
  }

  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }

  #header .nav-list ul li {
    display: inline-block;
  }

  #header .nav-list ul li a {
    font-size: 1.8rem;
  }

  #header .nav-list ul a:after {
    display: none;
  }

  

  /* End header */
}

/*# sourceMappingURL=style.css.map */
